.author {
  @include media-breakpoint-down(sm) {
    margin-top: 25px;
  }

  @include media-breakpoint-only(md) {
    margin-top: 35px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 15px;
  }

  &-back_link {
    color: $blue-light;
    font-size: $small-title-dark-size;
    text-decoration: none !important;
    &:hover {
      border-bottom: solid 3px $blue-lighter;
      padding-bottom: 2px;
      color: $blue-light;
    }
  }

  &-back_icon {
    width: 20px;
    height: 18px;
    transform: rotateY(180deg);
  }

  &-name {
    color: $gray-dark;
    margin: 32px 0 30px;

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
    @include media-breakpoint-only(md) {
      font-size: 2.5rem;
    }
  }

  .avatar {
    @include media-breakpoint-up(md) {
      float: right;
      margin-left: 30px;
    }

    img {
      border-radius: 50%;
      width: 125px;
      height: auto;

      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }

      @include media-breakpoint-only(md) {
        width: 157px;
        height: auto;
      }

      @include media-breakpoint-up(lg) {
        width: 202px;
        height: auto;
      }
    }
  }

  &-description {
    color: $gray;

    @include media-breakpoint-only(md) {
      min-height: 157px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 202px;
    }
  }

  &-posts_title {
    font-size: $font-size-h2;
    color: $gray-dark;
    margin: 50px 0 30px;
  }

  &-posts_list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;
  }

  &-posts_link {
    color: $blue-light;
  }

  hr {
    color: $gray-lighter2;
  }
}