.menu {
  @media (min-width: 768px) {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}
.collpasedMenuList {
  @media (min-width: 768px) {
    display: flex !important;
    align-items: center;
  }
  display: block;
}
.menuList {
  @media (min-width: 768px) {
    display: flex !important;
    align-items: center;
  }
  display: none;
}
.pageTitle {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}
.menuItemSelected {
  @media (min-width: 768px) {
    background: #f86968;
    transition: background-color 1s ease, color 1s ease;
    a {
      color: #fff !important;
    }
  }
}
.form {
  overflow: hidden;
  background: #f86968;
  color: #fff;
  transition: max-height 0.5s ease;
  > div {
    display: block;
    > div {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 50px 46px;
      align-items: center !important;
      > div:first-child {
        @media (min-width: 768px) {
          text-align: right !important;
          flex: 0 0 66.6666666667%;
          max-width: 66.6666666667%;
        }
      }
      > div:nth-child(2) {
        @media (min-width: 768px) {
          flex: 0 0 33.3333333333%;
          max-width: 33.3333333333%;
        }
        > div {
          margin-bottom: 20px;
          & form {
            > div {
              margin-bottom: 10px;
            }
          }
        }
      }
      > div {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
.visibleForm {
  max-height: 350px;
}
.invisibleForm {
  max-height: 0px;
}
.navbar {
  padding-top: 8px;
  position: relative;
  display: flex;
  font-family: "GT Pressura", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end !important;
    justify-content: space-between;
  }

  button {
    outline: none;
    position: absolute;
    right: 0;
    color: #7b756f;
    align-self: flex-start;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    @media (min-width: 768px) {
      display: none;
    }
    span {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: "";
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  a {
    color: #7b756f;
    font-size: 1rem;
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    touch-action: manipulation;
    text-decoration: none !important;
    background-color: transparent;
    cursor: pointer;

    img:first-child {
      @media (min-width: 768px) {
        display: none !important;
        vertical-align: middle;
        border-style: none;
      }
    }

    img:nth-child(2) {
      margin: 0;
      vertical-align: middle;
      border-style: none;

      @media (max-width: 767px) {
        display: none !important;
      }
    }

    div {
      padding-top: 10px;
      padding-left: 15px;

      h1 {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: GT Pressura, -apple-system, system-ui, BlinkMacSystemFont,
          Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
        line-height: 1.1;
        color: #7b756f;
        margin-bottom: 0.5rem;
        margin-top: 0;
      }
    }
  }

  > div {
    > div {
      @media (min-width: 768px) {
        align-items: flex-end;
      }
    }
  }
  & ul {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem !important;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    @media (min-width: 768px) {
      flex-direction: row;
      margin-top: 0 !important;
      margin-left: auto !important;
    }

    li:first-child {
      > a::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.3em;
        vertical-align: middle;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
      }
    }
    & li {
      position: relative;
      display: list-item;
      text-align: -webkit-match-parent;
      margin-bottom: 0;

      & a {
        color: #7b756f;
        display: block;
        padding: 0.5em 0em;
        touch-action: manipulation;
        text-decoration: none;
        background-color: transparent;
        margin: 0;

        @media (min-width: 768px) {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }

      & div {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #4b3e31;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);

        & a {
          display: block;
          width: 100%;
          padding: 3px 1.5rem;
          clear: both;
          font-weight: 400;
          color: #4b3e31;
          text-align: inherit;
          white-space: nowrap;
          background: none;
          border: 0;
          touch-action: manipulation;
          text-decoration: none;
        }
      }
    }
  }
}
