body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1, .h1,
h2, .h2 {
  text-transform: uppercase;
}

.bg-body-light {
  background-color: $orange-dark;
}

.bg-body-dark {
  color: $white;
  background-color: $orange-dark;

  a {
    color: $white;
  }
}
