//Only Medium devices (tablets)
@include media-breakpoint-only(md) {
  h1, .h1 { font-size: 2.5rem; }
  h2, .h2 { font-size: 1.5rem; }
}

//Large and Extra large devices (Desktop)
@include media-breakpoint-up(lg) {
  h1, .h1 { font-size: 3rem };
  blockquote, .blockquote { font-size: 2rem; }
  blockquote, .blockquote { color: #f86968; }
  h2, .h2 { font-size: 1.75rem }
}
