.main-footer {
  font-size: $font-size-xs;
  color: $white;

  strong {
    font-weight: $font-weight-normal;
    color: $orange-dark;
  }

  .footer-item {
    //margin-bottom: 2.5rem;

    a {
      color: $white;
      text-decoration: underline;
    }

    .header {
      color: $white;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    &:first-of-type {
      //margin-top: 3.75rem;
    }

    ul {
      margin-bottom: 0;
    }
  }

  .newsletter-mail {
    font-size: 0.875rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 0.875rem;

    a {
      display: block;
      margin-bottom: 0.5rem;
      color: $white;
    }

    p {
      margin-top: 1rem;
    }
  }

  hr {
    margin: 0;
    padding: 0;
  }

  .footer-bottom {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .newsletter-popup {
    position: fixed;
    bottom: -100;
    width: 100%;
    background-color: $white;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    .popup-header {
      position: relative;
      display: flex;
      background-color: #0076bf;
      padding: 20px 20px 20px 0px;
      .header-text {
        flex: 1;
        display: flex;
        align-items: center;
        p {
          font-family: "Roboto", sans-serif;
          font-size: 22px;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 0.3px;
          margin: 0;
          text-transform: uppercase;
        }
        img {
          margin-right: 10px;
          margin-left: 15px;
        }
      }
      .close-icon {
        display: flex;
        align-items: center;
        img {
          width: 16px;
          height: 16px;
          cursor: pointer;
        }
      }
      .minimise-icon {
        position: absolute;
        background-color: #0076bf;
        top: -7px;
        left: 50%;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        img {
          width: 25px;
          height: 10px;
          -moz-transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
        }
      }
      .down {
        img {
          transform: rotate(180deg);
          -moz-transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
        }
      }
    }
    .popup-content {
      display: flex;
      .popup-text {
        display: flex;
        align-items: center;
        p {
          color: #4c3e30;
          font-family: "Merriweather";
          font-size: 18px;
          line-height: 1.44;
          letter-spacing: 0.13px;
          margin: 0;
        }
      }
      .popup-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        #mailjet_widget_email {
          width: 100%;
          border: solid 1px #4c3e30;
          font-size: 16px;
          padding: 6px 15px;
          margin-bottom: 5px;
        }
        input[type="submit"] {
          margin: 5px 0px;
          align-self: flex-start;
          padding: 10px;
          border-radius: 4px;
          background-color: #0076bf;
          color: $white;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: 0.12px;
          text-transform: uppercase;
          cursor: pointer;
        }
        .mailjet_widget_form_message {
          font-size: 14px;
          font-family: "Merriweather";
          color: #4c3e30;
          margin: 0px;
        }
        .mailjet_widget_form_message_hide {
          display: none;
        }
      }
    }
  }
}
