.posts {
  @include media-breakpoint-up(lg) {
    margin-top: 1.3125rem;
    padding: 0px 14px;
  }

  @include media-breakpoint-only(md) {
    margin-top: 1.0625rem;
  }

  @include media-breakpoint-down(sm) {
    margin-top: $small-title-dark-size;
    padding: 0px 20px;
  }

  .read-more {
    color: $blue-light;
  }

  .image-container {
    position: relative;

    img {
      width: 100%;
    }
  }

  .category-text {
    position: absolute;
    bottom: 10px;
    background-color: $orange-dark;
    padding: 5px 17px 5px 17px;
    color: white;
    a {
      font-weight: $font-weight-bold;
      font-size: $small-title-dark-size;
      color: white;
    }
  }

  .load-more {
    .elm-button {
      background-color: $white;
      border: solid 1px $blue-light;
      padding: 9px 16px 9px 14px;
      color: $blue-light;
      &:hover {
        border: solid 1px $blue-dark;
        color: $blue-dark;
      }
    }

    .elm-button-text {
      font-weight: $font-weight-bold;
      line-height: 1.88;
    }
  }

  .grid-item {
    ///    float: left;
    padding-bottom: 41px;
    border: none;
    width: 100%;
    @media (min-width: 576px) {
      padding-right: 30px;
      padding-bottom: 61px;
      width: 33.333%;
    }
  }

  //Add overflow-wrap to card titles
  .card-title a {
    overflow-wrap: break-word;
    text-transform: uppercase;
  }
}

.main-post {
  background-color: #f4efea;
  margin-bottom: 3.75rem;
  background-repeat: repeat-x;
  background-position: center top;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding-top: 208px;
    background-size: 100% 250px;
  }

  @include media-breakpoint-up(md) {
    padding-top: 30px;
    background-size: cover;
  }

  .content {
    padding: 0 15px;
  }

  .post-text {
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.44;
    font-size: 1rem;

    @include media-breakpoint-down(sm) {
      color: #756b62;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 90px;
      font-size: 1.125rem;
      color: $white;
    }
  }

  .read-more {
    img {
      width: 36px;
      padding-bottom: 30px;
    }
  }

  .category-text {
    position: relative;
    display: inline-block;
    bottom: auto;

    @include media-breakpoint-down(sm) {
      margin-bottom: 2.6875rem;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 1.875rem;
    }
    @include media-breakpoint-only(md) {
      margin-bottom: 2.3125rem;
    }
  }

  .h1 {
    margin: 0 auto;
    max-width: 700px;

    a {
      color: $white;

      @include media-breakpoint-down(sm) {
        font-size: 2rem;
        color: #4b3e31;
      }
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
      @include media-breakpoint-only(md) {
        font-size: 2.5rem;
      }
    }
  }
}
